.board {
  position: relative;
  height: 2175px;
  width: 1464px;
  background: url(../assets/images/board.png);
}
.influence-ladders {
  right: 5%;
  position: absolute;
}
.ladder-0 {
  right: 5px;
}
.ladder-1 {
  right: 112px;
}
.ladder-2 {
  right: 220px;
}
.ladder {
  position: absolute;
}
