.influence-list {
  position: relative;
}
.pos-0 {
  top: 91px
}
.pos-1 {
  top: 201px
}
.pos-2 {
  top: 312px;
}
.pos-3 {
  top: 423px;
}
.pos-4 {
  top: 534px;
}
.pos-5 {
  top: 645px;
}
.marker-baratheon,
.marker-lannister,
.marker-stark,
.marker-martell,
.marker-greyjoy,
.marker-tyrell {
  background: url(images/tokens.png) no-repeat;
  width: 62px;
  height: 62px;
  position: absolute;
  z-index: 20;
  margin-left: -31px;
  margin-top: -31px;
}
.marker-lannister {
  background-position: 0 0;
}
.marker-stark {
  background-position: -62px 0;
}
.marker-baratheon {
  background-position: -124px 0;
}
.marker-greyjoy {
  background-position: -186px 0;
}
.marker-tyrell {
  background-position: -248px 0;
}
.marker-martell {
  background-position: -310px 0;
}
.marker {
  height: 62px;
  width: 62px;
}
ol {
  list-style: none;
}
.ladder {
  position: absolute;
}
